/* common styles */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* end of common styles */

// Normalize base style
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

input,
button,
textarea,
select {
  font: inherit;
}
// Normalize base style end
