$gold: #d4af37;
$brownish: #deaa86;
$brownishDark: #b85d1c;
$fontGrand: 5rem;
$jose: "Josefin Sans", sans-serif;
$fontsub: 4rem;
$fontP: 3.5rem;
$fontbtn: 2.5rem;
$goldGrad: linear-gradient(to right, gold, goldenrod);
$fontText: 16px;
